<div class="container text-center">
     <%= image_tag @user.avatar.url(:medium) %>
    <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
    <p><%= current_user.username %></p>

    <%= link_to 'Edit profile', edit_user_registration_path %>
</div>



<div class="container post_user">
  <div class="card" style="width: 18rem;">
    <% @user_posts.each do |post| %>

       <h3 class="user_post"> 
         <%= link_to post.title, post, {:style=>'color:#85a3e0;', :class => "css_class"} %>  
       </h3>     

        <% if post.image.file? %> 
            <%= image_tag post.image.url, :size => '390x200' %>
        <% else %> 
            no image file 
        <% end %> 

        <p class="user_post"><%= time_ago_in_words post.created_at %></p>

  </div>

  <div class="button">
    <% if can? :delete, post %>
      <%= link_to 'Delete', post, method: :delete, :data => { confirm: 'are you sure ?' }, :class => 'btn btn-light' %>
    <% end %>

    <% if can? :update, post %> 
       <%= link_to 'Edit', edit_post_path, :class => 'btn btn-light' %>
    <% end %>
  </div> 

    <% end %>
</div>
