<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "inputText">

    <div class="form-group col-md-4">
      <%= form.label :title %><br>
      <%= form.text_field :title, :placeholder => "title", :class => "form-control" %>
    </div>


  <div class="form-group">
    <%= form.label :image %><br> 
    <%= form.file_field :image, :class => 'btn-btn-primary' %>
  </div>

  <div class="form-group col-md-12">
    <%= form.label :text %><br>
    <%= form.text_area :text, :class => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, :placeholder => "write your story", :class => "form-control", :size => '50x20' %>
  </div>

  <br>
  <div class="form-group col-md-12">
    <%= form.label :tags %><br> 
    <%= form.text_field :tag_list, :class => "form-control" %> 
  </div>

  
  <div class="actions col-md-4">
    <%= form.submit"Make story", :class => "btn-btn primary" %>
  </div>
   </div>
<% end %>
