<div class="card" style="margin-top: 60px;">

  <div class="item">
    <div class> 
        <div class="block-title">Tags</div>
    </div>

    <div class="item-content-block tags">
    <% @tags.each do |tag| %> 
        <p class=tagname><%= tag.name %></p> 
    <% end %>
    </div>
  </div>

  <div class="card-body"> 
    <% if @posts %> 
  <% @posts.in_groups_of(3, false).each do |row| %> 
   <div class="row">
    <% row.each do |post| %> 
  
     <div class="col-md-4">

     <h3 class="card-title">
        <%= link_to post.title, post, {:style=>'color:#85a3e0;', :class => "css_class"} %>
     </h3>

      <% if post.image.file? %> 
          <%= image_tag post.image.url, :size => '250x150' %> 
      <% else %> 
          No image File!
      <% end %>

      <p class="card-subtitle mb-2 text-muted">
          <%= post.user.username %> 
      </p>

      <p class="card-subtitle mb-2 text-muted">
          <%= post.created_at.strftime("#{post.created_at.day.ordinalize} %B %Y") %>
      </p>

      <%= link_to 'read more', post, :class => "card-link" %>
    </div>
    <% end %> 
   </div>

   <% end %>
  </div>
  <% end %>
</div>