<div class="container text-center Bodyname">
  <div class="col-sm-12">
  
    <h1><%= @post.title %></h1>
    
    <div class="user"> 
      <p><%= @post.user.username %></p>
    </div>

     <% if @post.image.file? %> 
      <%= image_tag @post.image.url, :size => '900x550' %>
    <% else %> 
      
      <% end %>

    <br>
    <div class="col-6">    
      <p class="show">
        <%= @post.text %>
       </p>
    </div>
   

    <p><%= @post.all_tags %></p>

    <div classs="likeName">
        <%= link_to 'favorite', post_path(@post), method: :post, :class => 'btn btn-primary' %>
    </div>
    
    <div class="CommentName container text-left">
        <%= @comment.count %>
        <%= render 'comment/comments' %>

        <p>Create respond: </p> 
        <%= render 'comment/form' %> 
    </div>

  </div> 
       <%= link_to 'Back', posts_path, :class => 'btn btn-primary' %>
    </div>
</div>