<div class="container text-center">
  <div class="col-sm-12">
  
    <h1><%= @post.title %></h1>

     <% if @post.image.file? %> 
      <%= image_tag @post.image.url, :size => '600x550' %>
    <% else %> 
      
      <% end %>

    <br>
    <div class="col-6">    
      <p class="show">
        <%= @post.text %>
       </p>
    </div>
  

    <p><%= @post.all_tags %></p>

    <div class="PostLike">
        <div class="vote_count">
            <%= @post.get_likes.size %>
        </div>

        <div class="btn-group">

  <% if (current_user.liked? @post) %>
  
     <% if (current_user.liked? @post) %>
    <%= link_to unlike_post(@post), method: :post, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down"></span>
      Unlike
    <%end %>

  <% else %>

    <%= link_to like_post(@post), method: :post, class: "btn btn-primary btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
      Like
    <% end %>
  <% end %>

  <% end %>

</div>
    </div>
     
     <!--<div class="container text-left"> 
      <p><%= @comment.count %> Comment </p> 

      <%= render @post.comments %> 

      <h5>add a comment: </h5>
      <%= render 'comment/form' %>
    </div> -->  


       <%= link_to 'Back', posts_path, :class => 'btn btn-light' %>

  
    </div>
</div>