<div class="container text-center">
  <div class="col-sm-12">
  
    <h1><%= @post.title %></h1>

     <% if @post.image.file? %> 
      <%= image_tag @post.image.url, :size => '900x550' %>
    <% else %> 
      
      <% end %>

    <br>
    <div class="col-6">    
      <p class="show">
        <%= @post.text %>
       </p>
    </div>
   

    <p><%= @post.all_tags %></p>

    <div classs="likeName">
 
    </div>

  </div> 
       <%= link_to 'Back', posts_path, :class => 'btn btn-primary' %>
    </div>
</div>